@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="section">
        <div class="text">
            <h3 class="fs-1">Find your best food</h3>
            <p>Free Website Template For Restaurants Made by Colorlib</p>
        </div>
        <div class="card-group container">
            <div class="card ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvB0CEbF-qjBeDltrknjCR4Rw74sw1WriX1A&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FOOD</h5>
                    <h4>BEEF EMPANADAS</h4>
                    <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="card-text"><small class="text-muted">LEARN MORE -></small></p>
                </div>
            </div>
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">FOOD</h5>
                    <h4>BEEF EMPANADAS</h4>
                    <p class="card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="card-text"><small class="text-muted">LEARN MORE -></small></p>
                </div>
                <img src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/2020-10/24_michelin_star_02_%C2%A9iStock_1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card ">
                <img src="https://media.istockphoto.com/photos/pan-fried-duck-picture-id1081422898?k=20&m=1081422898&s=612x612&w=0&h=YkfQqtV3nN1gB_HaehyvjcTEye7w9FBPkG-PIKdDzPo=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FOOD</h5>
                    <h4>BEEF EMPANADAS</h4>
                    <p class="card-text text-muted">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="card-text"><small class="text-muted">LEARN MORE -></small></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="px-4 py-5 my-5 text-center container">
            <h2 class="display-5 fw-bold ">
                The Restaurant</h1>
                <div class="col-lg-6 mx-auto text1">
                    <p class="lead mb-4 text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="text-muted">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="img">
                    <img src="https://preview.colorlib.com/theme/meal/images/xbg_hero.png.pagespeed.ic.amM03QbRMh.webp" alt="">
                </div>
        </div>
    </section>
    <section>
        <h2 class="fs-1 shef">Meet The Chefs</h2>
        <div class="container  marketing">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img width="140" height="140" class=" rounded-circle " src="http://www.innovationhartford.com/wp-content/uploads/Tori_Brown_square-300x300.jpg" alt="">
                    <h2 class="center">Daniel Graham</h2>
                    <p class="text-muted fs-4 center">MASTER CHEF</p>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="text-muted">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.</p>
                    <div class="mb-4">
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #3b5998;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #55acee;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #ac2bac;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <img width="140" height="140" class="bd-placeholder-img rounded-circle center" src="https://i.ytimg.com/vi/CsrWP6gi8es/hqdefault.jpg" alt="">
                    <h2 class="center">Nick Browning</h2>
                    <p class="text-muted fs-4 center">MASTER CHEF</p>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="text-muted">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.</p>
                    <div class="mb-4">
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #3b5998;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #55acee;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #ac2bac;"
                           href="#!"
                           role="button">
                            <i class="bi bi-instagram"></i></i
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="fs-1 text-center">Menu</h2>
        <p class="text-center text-muted fs-5 ">Free Website Template For Restaurants Made by Colorlib</p>
        <div class="tabContainer text-center container">
            <div class="buttonContainer">
                <button onclick="showPanel(0)">BREAKFAST</button>
                <button onclick="showPanel(1)">BRUNCH</button>
                <button onclick="showPanel(2)">DINNER</button>
            </div>
            <div class="tabPanel">
                @foreach (var item in Model.Breakfasts)
                {
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <img width="140" height="140" src="~/assets/img/@item.Img" alt="">
                    </div>
                    <div>
                        <h2>@item.Name</h2>
                        <p>@item.Desc</p>
                    </div>
                </div>
                }

            </div>
            <div class="tabPanel">
                @foreach (var item in Model.Brunches)
                {
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <img width="140" height="140" src="~/assets/img/@item.Img" alt="">
                    </div>
                    <div>
                        <h2>@item.Name</h2>
                        <p>@item.Desc</p>
                    </div>
                </div>
                }
            </div>
            <div class="tabPanel">
                @foreach (var item in Model.Dinners)
                {
                  <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <img width="140" height="140" src="~/assets/img/@item.Img" alt="">
                    </div>
                    <div>
                        <h2>@item.Name</h2>
                        <p>@item.Desc</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <section class="section5">
        <h2 class="fs-1 text-center">Other Services</h2>
        <p class="text-center text-muted fs-5 ">Free Website Template For Restaurants Made by Colorlib</p>
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col text-center">
                    <div class="feature-icon bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Quality Cuisine</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="feature col text-center">
                    <div class="feature-icon  bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Fresh Food</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="feature col text-center">
                    <div class="feature-icon  bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Bread & Pancake</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col text-center">
                    <div class="feature-icon bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Quality Cuisine</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="feature col text-center">
                    <div class="feature-icon  bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Fresh Food</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="feature col text-center">
                    <div class="feature-icon  bg-gradient">
                        <i class="bi bi-flower1 fs-1"></i>
                    </div>
                    <h2>Bread & Pancake</h2>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section6">
        <h2 class="fs-1 text-center">Reservation</h2>
        <p class="text-center text-muted fs-5 ">Free Website Template For Restaurants Made by Colorlib</p>
        <form action="" class="container bg-light">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1">Name</label>
                        <input type="text" id="form3Example1" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Email</label>
                        <input type="text" id="form3Example2" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Phone</label>
                        <input type="text" id="form3Example2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label" for="form3Example2">Number of Persons</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">1 Persons</option>
                        <option value="2">2 Persons</option>
                        <option value="3">3 Persons</option>
                    </select>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Date</label>
                        <input type="date" id="form3Example2" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Time</label>
                        <input type="time" id="form3Example2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="text-center">

                <button type="submit" class="btn btn-outline-secondary  sing">RESERVE NOW</button>
            </div>
        </form>
    </section>
    <section class="section6">
        <h2 class="fs-1 text-center">Get In Touch</h2><br><br>
        <form action="" class="container bg-light">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1">Name</label>
                        <input type="text" id="form3Example1" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Email</label>
                        <input type="text" id="form3Example2" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Phone</label>
                        <input type="text" id="form3Example2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example3">Message</label>
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            </div>
        </form>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48030.197450176005!2d47.128600639163224!3d41.20242967466546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404787c6c2deab39%3A0xa57076df3a269f4c!2sSheki%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1655379099607!5m2!1sen!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
