@model List<Dinner>
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="container-fluid">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h1>Authors:</h1>
        <a asp-action="create" asp-controller="category" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dinner in Model)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td>@dinner.Name</td>
                    <td>@dinner.Desc</td>
                    <td><img src="~/assets/img/@dinner.Img" style="max-width:100px" /></td>
                    <td>
                        <a asp-action="edit" asp-controller="category" asp-route-id="@dinner.Id" class="btn btn-warning">Edit</a>
                        
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@dinner.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
